<div class="addform row">
  <div class="col-6">
   </div>
  <div class="col-6 d-flex">
   <input type="text" name="userName" class="form-control mr-3" [(ngModel)]="userName" (ngModelChange)="Search()" placeholder="Enter name to search  ">
   <button (click)="addEditModalOpen()" class="btn btn-primary float-right" style="margin-top: 0;">
     + Add New
   </button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="col-1">name</th>
      <th class="col-1">email</th>
      <th class="col-l">password</th>
      <th class="col-1">mobile</th>
      <th class="col-2">age</th>
      <th class="col-1">gender</th>
      <th class="col-2">Edit</th>
      <th class="col-3">Delet</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of userdata |  paginate: { itemsPerPage: count, currentPage: p }">
      <td>{{data.userName}}</td>
      <td>{{data.email}}</td>
      <td>{{data.password}}</td>
      <td>{{data.mobileNumber}}</td>
      <td>{{data.age}}</td>
      <td>{{data.gender}}</td>
      <td><a class="sko" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
      <td><a class="sko" (click)="deletitem(data,index)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

    </tr>

  </tbody>
</table>
<div class="text-center w-100  mt-3" >
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="">
          <div class="row d-block header">
            <h1>Users List &nbsp;</h1>
            <h3>user Details Here</h3>
          </div>
          <div class="row body">
            <form action="#">
              <ul>
                <li>
                  <label>Name</label>
                  <input type="text" />
                </li>
                <li>
                  <label>email</label>
                  <input type="text" />
                </li>
                <li>
                  <label for="text">password</label>
                  <input type="text" class="w-100" />
                </li>
                <li>
                  <label> mobile</label>
                  <input type="text" />
                </li>
                <li>
                  <label> Age</label>
                  <input type="text" />
                </li>
                <li>
                  <label> Gander</label>
                  <input type="text" />
                </li>
                <li>
                  <div class="divider"></div>
                </li>
                <li>
                  <input class="btn btn-primary text-light" type="submit" value="Submit" />

                </li>

              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>