<div class="addform row ">
  <div class="col-6">
  </div>
  <div class="col-6 d-flex  mb-4">
    <input type="text" name="type" class="form-control mr-3" [(ngModel)]="type" (ngModelChange)="Search()"
      placeholder="Enter name to search  ">
    <button (click)="addEditModalOpen()" class="btn btn-primary float-right" style="margin-top: 0;">
      + Add New
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="col-1">type</th>
        <th class="col-2">type Number</th>
        <th class="col-2">price</th>
        <th class="col-2">currency</th>
        <th class="col-2">Edit</th>
        <th class="col-2">Delet</th>
      </tr>
    </thead>
    <tbody>
      <tr
      *ngFor="let value of allData | paginate: { itemsPerPage: count, currentPage: p }">
        <td>{{value.type}}</td>
        <td>{{value.typeNumber}}</td>
        <td>{{value.price}}</td>
        <td>{{value.currency}}</td>
        <td><a class="sko" (click)="addEditModalOpen(data)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </td>
        <td><a class="sko" (click)="deletitem(data,index)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>

    </tbody>
  </table>
    
  </div>
  <div class="text-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>