
.app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
  
    background-color: #00bcd4;
    color: #000 !important;
    text-decoration: none;
}
.app-sidebar__toggle{
    color: #000;
}
ul.app-nav {
    padding: 7px 0;
}
