<div class="addform row">
    <div class="col-6">
    </div>
    <div class="col-6 d-flex mb-3">
      <input type="text" name="name" class="form-control mr-3" [(ngModel)]="name" (ngModelChange)="Search()"
        placeholder="Enter name to search  ">
        <button (click)="addEditModalOpen()" class="btn btn-primary float-right" style="margin-top: 0;">
          + Add New
        </button>
    </div>
<table>
    <thead>
    <tr>
        <th class="col-2">product name</th>
        <th class="col-2">product image</th>
        <th class="col-1">MRP</th>
        <th class="col-2">discount</th>
        <th class="col-2">shipping Price</th>
        <th class="col-2">stock</th>
        <th class="col-1">edit</th>
        
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList">
            <td>{{product.name}}</td>
            <td><img  class="img" src={{product.picture}} alt=""></td>
            <td>{{product.mrp}}</td>
            <td>{{product.discount}}</td>
            <td>{{product.shippingPrice}}</td>
            <td>{{product.stock}}</td>
            <td><a class="sko" (click)="addEditModalOpen(data)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </td>
        </tr>
  
    </tbody>
</table>