.addform {
    text-align: end;
    margin-top: -50px;
    margin-right: 15px;
    padding-bottom: 9px;
}
.img{
    width: 100px;
}
img.sfk {
    width: 100px;
}
.sko{
    font-size: 20px;
    color: #3f51b5 !important;
    cursor: pointer;
}
button.btn.btn-primary.float-right {
    margin-bottom: 14px;
}